<%- include("Components/Header") %>

    <div class="site-cover site-cover-sm same-height overlay single-page"
        style="background-image: url('images/hero_5.jpg');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section sec-halfs py-0">
        <div class="container">
            <div class="half-content d-lg-flex align-items-stretch">
                <div class="img" style="background-image: url('images/hero_1.jpg')" data-aos="fade-in"
                    data-aos-delay="100">

                </div>

                <div class="text">
                    <h2 class="heading text-primary mb-3">Resources for makers and creatives</h2>
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                        coast of the Semantics, a large language ocean.</p>
                    <p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p>
                </div>
            </div>

            <div class="half-content d-lg-flex align-items-stretch">
                <div class="img order-md-2" style="background-image: url('images/hero_2.jpg')" data-aos="fade-in">

                </div>
                <div class="text">
                    <h2 class="heading text-primary mb-3">We are trusted by more than 5,000 clients</h2>
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                        coast of the Semantics, a large language ocean.</p>
                    <p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container custom-container">
        <div class="container">
            <p style="color: black;">Welcome to The Info Wheels, your ultimate destination for
                insightful and inspiring
                outreach content. We
                believe in the power of knowledge and the ability to create positive change through information. With a
                burning passion for outreach, we have embarked on a journey to become the best and top outreach website,
                sharing valuable content that empowers and uplifts.

                At The Info Wheels, we understand that information is the key to unlocking limitless possibilities. Our
                dedicated team of experts strives to bring you the latest news, trends, and stories from various
                domains,
                ensuring that you stay well-informed and inspired. We firmly believe that knowledge should be accessible
                to
                all, and we are committed to bridging the gap between information and its seekers.
            </p>
            <h2 style="color: black; font-weight: bold;">"Knowledge is not only power but also a catalyst for
                transformation."</h2>

            <p style="color: black;">As we tread the path of excellence, we consistently deliver high-quality content,
                catering to a diverse
                range
                of interests and fields. Whether you're passionate about technology, science, culture, lifestyle, or any
                other subject, we have got you covered. Our regularly updated articles, features, and interviews provide
                valuable insights, practical tips, and thought-provoking perspectives that aim to ignite your curiosity
                and
                encourage meaningful conversations.

                But our mission extends beyond just sharing information. We are dedicated to fostering a sense of
                community
                and collaboration. We believe that ideas flourish when minds come together, and we actively encourage
                readers to engage, share, and contribute their own perspectives. We value the diversity of thoughts and
                opinions, fostering an inclusive space where everyone's voice can be heard.

                At Info Wheels, we are always in motion, constantly seeking new horizons to explore. We are committed to
                staying ahead of the curve, embracing innovation, and adapting to the ever-evolving digital landscape.
                Our
                user-friendly website provides a seamless browsing experience, ensuring that you can easily navigate
                through
                our vast library of articles and discover content that resonates with you.

                Join us on this exciting journey as we strive to become the go-to platform for those seeking
                inspiration,
                knowledge, and connection. Together, let's unlock the wheels of information and drive positive change in
                the
                world.
            </p>
            <h2 style="color: black; font-weight: bold;">Remember, "The wheels of progress are fueled by the power of
                information."</h2>
        </div>
    </div>


    <!-- <div class="section sec-features">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                    <div class="feature d-flex">
                        <span class="bi-bag-check-fill"></span>
                        <div>
                            <h3>Building your blog</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="feature d-flex">
                        <span class="bi-wallet-fill"></span>
                        <div>
                            <h3>Resources and insights</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="feature d-flex">
                        <span class="bi-pie-chart-fill"></span>
                        <div>
                            <h3>Blog just for you</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
                    <h2 class="heading text-primary">Our Team</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
                    <img src="images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">James Griffin</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Claire Smith</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="images/person_3.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Jessica Wilson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>

                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
                    <img src="images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">William Anderson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/person_5.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Julie Harvey</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Shana Clarkson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. </p>
                </div>
            </div>

        </div>
    </div> -->

    <!-- <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <img src="images/img_7_sq.jpg" alt="Image" class="img-fluid rounded
					">
                </div>
                <div class="col-lg-4 ps-lg-2">
                    <div class="mb-5">
                        <h2 class="text-black h4">Publishing platform for professional bloggers</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                    <div class="d-flex mb-3 service-alt">
                        <div>
                            <span class="bi-wallet-fill me-4"></span>
                        </div>
                        <div>
                            <h3>Building your blog</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-3 service-alt">
                        <div>
                            <span class="bi-pie-chart-fill me-4"></span>
                        </div>
                        <div>
                            <h3>Resources and insights</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-3 service-alt">
                        <div>
                            <span class="bi-bag-check-fill me-4"></span>
                        </div>
                        <div>
                            <h3>Blog just for you</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> -->

    <%- include("Components/Footer") %>