<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Editor.js Example</title>
    <style>

    </style>
</head>

<body>
    <div id="editorjs"></div>
    <form action="/data" method="post" onsubmit="submitForm(event)">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <input type="hidden" id="editorContent" name="editorContent">
        </div>
        <button type="submit">Submit</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>

    <script src="/public.js"></script>

</body>

</html>