<%- include("Components/Header")%>

    <center style="margin: 200px auto;">
        <div>
            <h1>
                <%= msg %>
            </h1>

        </div>
        <div style="margin: 200px auto;">
            <button class="btn btn-primary" style="margin: 20px;"><a style="color: aliceblue;"
                    href="/">Home</a></button>
            <button class="btn btn-primary" style="margin: 20px;"><a style="color: aliceblue;"
                    href="/dashboard">Dashboard</a></button>
        </div>
    </center>
    <%- include("Components/Footer") %>